# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Public\Studies\3_kursas\Pavasario_semestras\Programų kūrimo procesas\Accouting_system_remakeMaven\Accounting_SysteM_Maven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
